BODY.color { background-color: #EEFFEE; color: black; font-size: 130%}
BODY.eeffee { background-color: #EEFFEE; color: black; font-size: 130%; text-align: center}
body.lightskyblue { background-color: lightskyblue; color: black; font-size: 130%}
body.lightgreen { background-color: lightgreen; color: black; font-size: 130%}
body.white { background-color: white; color: black; font-size: 130% }
body.white_s { background-color: white; color: black; font-size: 90% }
BODY { background-color: #CCFFCC; color: black; font-size: 130%; user-select:none;}

A:link { color: blue }
A:visited { color: green }
A:active { color: maroon }
A:hover { color: salmon } 

H1 { font-style: italic }
H1.center { font-style: italic; text-align: center }
H2.center { text-align: center }
H3.center { text-align: center }

OL.no { list-style-type: none }
OL.number { list-style-type: decimal }
OL.l_alpha { list-style-type: lower-alpha }
OL.u_alpha { list-style-type: upper-alpha }
OL.l_roman { list-style-type: lower-roman }
OL.u_roman { list-style-type: upper-roman }

UL.no { list-style-type: none }
UL.disc { list-style-type: disc }
UL.circle { list-style-type: circle }
UL.square { list-style-type: square }

SPAN.U { text-decoration: underline }
SPAN.eeffee { background-color: #eeffee; font-weight: bold }
SPAN.EFE { background-color: #eeffee; font-weight: bold }
SPAN.pink_b { background-color: pink }
SPAN.cyan_b { background-color: cyan }
SPAN.pink { color: pink}
SPAN.red { color: red}
SPAN.change { background-color: #ddffdd }

P.center { text-align: center }

DIV.center { text-align: center; padding: 3px; margin-bottom: 10px; margin-top: 10px; overflow: auto }
DIV.right { text-align: right; padding: 3px; margin-bottom: 10px; margin-top: 10px; overflow: auto }
DIV.kadai1 { background-color:#eeffee; text-align: left; margin-right:auto; margin-left:auto }
DIV.kadai2 { background-color:#ffffff; text-align: left; margin-right:auto; margin-left:auto }
DIV.font15 { font-size: 120% }
DIV.red { color: red; border-style: none; padding: 3px; margin-bottom: 10px; margin-top: 10px; overflow: auto }
DIV.magenta { color: magenta; border-style: none; padding: 3px; margin-bottom: 10px; margin-top: 10px; overflow: auto }
DIV.double_c { border-style: double; padding: 5px; margin-bottom: 15px; margin-top: 15px; border-color: fuchsia; height: 250px; overflow: auto }
DIV.no { border-style: none; padding: 3px; margin-bottom: 10px; margin-top: 10px; overflow: auto }
DIV.double { border-style: double; padding: 3px; margin-bottom: 10px; margin-top: 10px; border-color: lime; height: 300px; overflow: auto }
DIV.double_free { border-style: double; padding: 3px; margin-bottom: 10px; margin-top: 10px; border-color: lime; overflow: auto }
DIV.double_200 { border-style: double; padding: 3px; margin-bottom: 10px; margin-top: 10px; border-color: lime; height: 200px; overflow: auto }
DIV.double_250 { border-style: double; padding: 3px; margin-bottom: 10px; margin-top: 10px; border-color: lime; height: 250px; overflow: auto }
DIV.double_300 { border-style: double; padding: 3px; margin-bottom: 10px; margin-top: 10px; border-color: lime; height: 300px; overflow: auto }
DIV.solid { border-style: solid; padding: 3px; margin-bottom: 10px; margin-top: 10px; border-color: lime; overflow: auto }
DIV.dotted { border-style: dotted; padding: 3px; margin-bottom: 10px; margin-top: 10px; border-color: #ffaaff; height: 250px; overflow: auto }
DIV.dotted_free { border-style: dotted; padding: 3px; margin-bottom: 10px; margin-top: 10px; border-color: #ffaaff; overflow: auto }
DIV.dotted_250 { border-style: dotted; padding: 3px; margin-bottom: 10px; margin-top: 10px; border-color: #ffaaff; height: 250px; overflow: auto }
DIV.dashed { border-style: dashed }

PRE { font-size: 115%; margin-bottom: 0px; tab-size: 4; -moz-tab-size: 4 }
PRE.no { font-size: 115%; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px; tab-size: 4; -moz-tab-size: 4 }

BUTTON.std {font-size: 90%; background-color: #afeeee;}
TEXTAREA.std {font-size: 90%; background-color: #ffffff; font-weight: bold}

IMG.left { float: left }
IMG.right { float: right }

DT.point:hover { color: #00ff00; cursor: pointer; }
DD.point:hover { color: #00ff00; cursor: pointer; }

/* フローティングボタンの共通デザイン */
.floating-btn{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: #111;
    border: 2px solid #4da6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #bcdfff;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 0 10px #3d8cff88;
}
/* ホバー時に光る */
.floating-btn:hover{
    background: #4da6ff33;
    box-shadow: 0 0 16px #4da6ffcc;
}
/* クリック時に縮む */
.floating-btn:active{
    transform: scale(0.9);
}
/* ボタン位置調整 */
#reloadBtn{
    bottom: 90px; /* logout の上に配置 */
}
#logoutBtn{
    bottom: 20px;
}
